<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-avatar slot="end">
      <img src="assets/desenvolvedor.jpg">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div>
      <h2>André Luís Moreira</h2>
      <p>Aluno Da Etec Cidade Do Livro</p>
      <p>Macatuba-SP</p>
      <p>11 4002-8922</p>
      <p>
        <a href="mailto:andre.moreira12@etec.sp.gov.br">
          andre.moreira12@etec.sp.gov.br
        </a>
      </p>
    </div>
  </ion-label>
  </ion-item>
  <div class="ion-text-center">
    <img src="assets/pokedex.png">
  </div>
  <ion-item lines="full">
<ion-label>Versão</ion-label>
<ion-badge slot="end"color="dark">0.1</ion-badge>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Ano</ion-label>
    <ion-badge slot="end"color="dark">2021</ion-badge>
      </ion-item>

      <ion-item lines="full">
        <ion-label>Turma</ion-label>
        <ion-badge slot="end"color="dark">A</ion-badge>
          </ion-item>

</ion-content>
